/*global Vue*/

/* weex initialized here, please do not move this line */
const router = require('../router/routerComp');
const App = require('@/index.vue');
/* eslint-disable no-new */
const mixins = require('@/util');
const { compUrl } = require('@/util/envConfig');
const filters = require('@/util/filter')
import { Utils } from 'weex-ui';
Object.keys(filters).forEach(key => {
    Vue.filter(key, filters[key])
})

Vue.mixin({
    ...mixins,
    data: function () {
        return {
            serverUrl: compUrl,
			isIpx: Utils.env.isIPhoneX(),//是不是iphoneX
			isAndroid: Utils.env.isAndroid(),
            path: '',
            token: ''
        }
    },
    created: function () {
        this.token = this.getUrlSearch(weex.config.bundleUrl, 'token')//全局使用的变量
        // console.log(this.token)
		let href = weex.config.bundleUrl
		this.path = href.substring(0, href.indexOf('?'))
    },
})

new Vue(Vue.util.extend({ el: '#root', router }, App));
router.push('/');

vue在不同环境下对应不同的接口地址：https://www.jianshu.com/p/41b57cce9963
vue-quill编辑器内上传图片 返回插入： https://www.cnblogs.com/MingqiSs/p/7852936.html
